@import "./base.css";

body {
  background-color: white;
  margin: 0 !important;
}

.navlink {
  color: #5463a9;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 0.75rem;
}

.font-segoe {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}

.font-yeseva {
  font-family: 'Yeseva One';
}

.font-madimi {
  font-family: "Madimi One";
}

h1 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #5463a9;
  margin-bottom: 1rem;
}

h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 2rem;
}