@import "./base.css";

body {
  background-color: blue;
  margin: 0 !important;
}

.navlink {
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin-top: 0.75rem;
}

.font-segoe {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}

.font-yeseva {
  font-family: 'Yeseva One';
}

.font-madimi {
  font-family: "Madimi One";
}